* {
  box-sizing: border-box;
  // background-image: url(/src/img/background.jpg);
  // background-repeat: no-repeat;
  background-size: 100%;
  background-color: #0F1A63;
 

}


html {
  --gradient: linear-gradient(to right bottom, #48217A, #0F1A63);
  --color-text: rgba(255, 255, 255, .8);
  --color-quote: white;
  --color-action: #c96894;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
 
}

body {
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;

}

h1 {
  margin-left: 5rem;
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 5rem;
  margin-top: 5rem;
  color: #c96894;
  text-decoration: none;

}

a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;


}

main {
  background-color: #43c528;
}

@keyframes pop {
  from {
    transform: scale(.5);
  }

  to {
    transform: scale(1);
  }
}


p.quote {
  text-align: justify;
  font-size: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: "Amita", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: #0F1A63;
}

p.author {
  text-align: right;
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #c96894;
  font-weight: bold;
  background-color: #0F1A63;
}


.menu-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100%;
  width: 15%;

  &__topquote {
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    padding: 2rem 0;
    color: #c96894;
    transition: all 2s;
    text-decoration: none;
    border-bottom: none;

  }

}

li {
  margin-top: auto;
margin-bottom: auto;
border-bottom: white solid 0.2rem;

}


.boxquote {
  font-size: 1.5vw;
  text-align: right;
  padding: 2rem;
  background-color: #0F1A63;
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  margin: 2rem;


}