* {
  box-sizing: border-box;




}


html {
  --gradient: linear-gradient(to right bottom, #48217A, #0F1A63);
  --color-text: rgba(255, 255, 255, .8);
  --color-quote: white;
  --color-action: #c96894;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

}

body {
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
  background-image: url(/src/img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}

h1 {
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 5rem;
  margin-top: 5rem;
  color: #c96894;
  text-decoration: none;

}

a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;


}

main {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  margin-left: 50rem;
  margin-right: 20rem;
  background-color: #0F1A63;
}

@keyframes pop {
  from {
    transform: scale(.5);
  }

  to {
    transform: scale(1);
  }
}


p {
  text-align: justify;
  font-size: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: "Amita", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  width: 60%;

}


.menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 2rem;
  width: 15%;
  height: 100%;
  font-weight: bold;
  font-size: 1.5em;
  padding: 2rem 0;
  color: #c96894;
  text-decoration: none;
  border-bottom: none;
  background-color: #0F1A63;

}

.content-btn {
  flex-grow: 1;
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
  justify-content: center;
  color: #0d0747;
  font-weight: bold;
  background-color: #c96894;
  padding: 1rem;
  
}
.content-author{
    display: flex;
  background-size: cover;
  text-align: right;
  // align-items: center;
  font-size: 2rem;
  // justify-content: center;
  color: #0d0747;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  &.on {
    display: inline-block;
    animation: pop .3s ease 0s 1;
}
}

.content-name {
   font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
text-align: center;
  color: #c96894;
  font-weight: bold;
  background-color: #0F1A63;
  position: absolute;
  justify-content: center;
  align-items: center;
  &.on {
    display: inline-block;
    animation: pop .3s ease 0s 1;
}

}

.btn {
  display: block;
  padding: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, .1);
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 3px;
  border: 0;
  width: 100%;
  transition: background-color .5s;
  &:hover {
      color: white;
      background-color: var(--color-action);
  }
  &.off {
    display: none;
}
}