* {
  box-sizing: border-box;
}

html {
  --gradient: linear-gradient(to right bottom, #48217A, #0F1A63);
  --color-text: rgba(255, 255, 255, .8);
  --color-quote: white;
  --color-action: #c96894; 
}

body {
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

@keyframes pop {
  from {
    transform: scale(.5);
  }

  to {
    transform: scale(1);
  }
}

h1 {
  margin-left: 5rem;
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

p.quote {
  text-align: justify;
  font-size: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  font-style: oblique;
}

p.author {
  text-align: justify;
  font-size: 3rem;
  margin-left: 5rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.quotes-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 2rem;
  text-decoration: underline;
  &__topquote {
    justify-self: start;
  }


}